.circle {
    /*Center the circle*/
    margin: auto;
    
    width: 160px;
    height: 160px;
    border-radius: 50%;

    /* Center the items */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    max-width: 50%;
    max-height: 50%;
}