docs/*
!docs/index.html
!docs/README.md
!docs/static

# Xmake cache
.xmake/
build/

compile_commands.json

# MacOS Cache
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
backend/.vscode/compile_commands.json
