# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lock files
yarn.lock

# Dependency directories
node_modules/

# Svelte Distribution
public/build/

# Electron Distribution
dist

# Project Build Automation Directory
private

# Desktop Services Store on macOS
.DS_Store

# Allow following inside of resources directory
!resources/win32/x64/behaviour_tree_validator.exe
!resources/win32/x64/behaviour_tree.lib

!resources/win32/x86/behaviour_tree_validator.exe
!resources/win32/x86/behaviour_tree.lib